[submodule "private"]
	path = private
	url = git@bitbucket.org:davidbradway/testrepoprivate.git
[submodule "localprivatedir"]
	path = localprivatedir
	url = c:/Users/dpb6/Documents/GitHub/localprivate/.git/
